#formulaire_co{
    margin-top: 18px;
}
#titre_afrique{
    color: green;
    text-align: center;
}
#titre_oceanie{
    color: rgb(28, 136, 104);
    text-align: center;
}
#titre_amerique{
    color: rgb(223, 58, 66);
    text-align: center;
}
#titre_asie{
    color: rgb(101, 114, 28);
    text-align: center;
}
#titre_europe{
    color: rgb(59, 33, 206);
    text-align: center;
}
.dropdown-item{
    color: blue;
}
#titre_et_connexion{
    margin-left: 30px;
    margin-right: 30px;
}
#body_afrique{
    background-color:  #1da11150;;
}
#body_asie{
    background-color:  #d1eb5d50;;
}
#body_amerique{
    background-color:  #5c3d3e50;;
}
#body_europe{
    background-color:  #25d5df50;;
}
#body_oceanie{
    background-color:  #9567d650;;
}
#navbar_continents_profil{
    margin-left: 30px;
    margin-right: 30px;
}

#inscrire_mdp_oubli{
    font-size: smaller;
    text-align: right;
    margin-bottom: 0px;
}

#msg_bienvenue{
    color: blue;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 20px;
}

#map{
    width: 750px;
    height: 500px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 100px;
    
}
.invisible{
    display:none;
}
#la_question_et_le_score{
    margin-top: 12px;
}
#box_carte_jeu{
    margin-left: 30px;
    margin-top: 0px;
    width: 95.55%;
    height: 600px;
    padding-right: 0px;
    
    
}
#box_jeu{
    height: 350px;
    width: 400px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 0px;
    background-color:#1E90FF ;
    box-shadow: 0px 0px 10px 2px;
    
}

#choisir_niveau{
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.les_niveaux1{
    margin-top: 10px;
    height: 50px;
    width: 250px;
    font-size: x-large;
    border-radius: 20px ;    
}

.les_niveaux23{
    margin-top: 25px;
    height: 50px;
    width: 250px;
    font-size: x-large;
    border-radius: 20px ;
}

#btn_commencer{
    margin-top: 150px;
    border-radius: 20px ;
}

.score_qst{
    font-size: larger;
    font-weight: bolder;
}