#bloc_profil{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 75px;
}

#sous_bloc{
    padding: 25px 50px;
    background-color: rgb(15, 64, 121);
    width: 700px;
    height: 400px ;
}

#titre_profil{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    color: rgba(165, 191, 243, 0.801);
}

#pills-tab{
    margin-left: 100px;
    margin-top: 20px;
}

.nav-link{
    color: rgb(105, 186, 218);
}

.nav-link:hover{
    color: rgb(169, 220, 230);
}

.tableFixHead{  overflow-y: auto;  
                height:225px;
}
.tableFixHead thead th { 
    position: sticky; top: 0; 
}

table  { border-collapse: collapse; width: 100%; }

th{
    background: rgb(12, 128, 163);
}
