#formulaire_insc_div{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
}
#inscription_form{
    width: 500px;
}
#titre_pg_insc{
    text-align: center;
    color: midnightblue;
}
#titre_inscription{
    margin-top: 50px;
    color: midnightblue;
}

#btn_sinscrire{
    margin-left: 200px;
}

#title_insc{
    font-size: 40px;
}
.msg_err_small{
    font-size: 15px;
    color: brown;
}


.msg_success{
    color: green;
}
#btn_revenir_accueil{
    margin-left: 100px;
}

body{
    background-image: url("../images/background/light_background.png");
}